{% extends "base.html" %} {% block title %} About Bloggit {% endblock title %}
{% block content %}
<!-- Add header -->
{% include "header.html" %}
<!-- end header -->
<!-- Adding blogs content -->
<section>
  <div class="about">
    <ul>
      <li>
        Bloggit is a blogging website that allows users to post their thoughts
        and share their knowledge with the world.We provide a platform to
        writers of all domain to freely express their views and content publicly
        without the fear of being judged.
      </li>
      <li>
        Blogs of all fields including technical, health & fitness, recipes,
        sports, travelling, corporate sector are welcome to become a part of our
        website.
      </li>
      <li>Hurry up and seek the opportunity to get featured on our page !!</li>
    </ul>
  </div>
</section>
<section class="imageCollage">
  <img src="https://placeimg.com/300/300/nature" alt="nature blogs" />
  <img src="https://placeimg.com/300/300/tech" alt="technical blogs" />
  <img src="https://placeimg.com/300/300/people" alt="health blogs" />
  <img src="https://placeimg.com/300/300/arch" alt="fashion blogs" />
  <img src="https://placeimg.com/300/300/tech" alt="technical blogs" />
  <img src="https://placeimg.com/300/300/nature" alt="nature blogs" />
  <img src="https://placeimg.com/300/300/arch" alt="fashion blogs" />
  <img src="https://placeimg.com/300/300/people" alt="health blogs" />
</section>
<!-- Ending blogs content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock content %}
