{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,400,500,600"
      rel="stylesheet"
    />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    {% block content %} {% endblock content %}
    <div>
      {% for message in messages %}
      <p class="{{message.tags}}">{{message}}</p>
      {% endfor %}
    </div>
    <script>
      const inputs = document.querySelectorAll("div.input input");
      inputs.forEach((input) => {
        input.addEventListener("focus", () =>
          input.parentElement.classList.add("focusing")
        );
        input.addEventListener("blur", () =>
          input.parentElement.classList.remove("focusing")
        );
      });
    </script>
  </body>
</html>
