{% extends "base.html" %} {% block title %} Bloggit {% endblock title %} 
{% block content %} {% include "header.html" %} {% include "description.html" %}
<div class="blogs">
{% for post in post_list %}
  <article class="blog">
    <h3 class="title">{{ post.title }}</h3>
    <p class="author">{{ post.author }} | {{ post.created_on }}</p>
    <p class="post">
      {{ post.content|slice:":200" }}...
    </p>
    <a href="{% url 'post_detail' post.slug %}" class="button">Read More &rarr;</a>
  </article>
{% endfor %}
</div>
{% endblock %}