<header>
  <h1><a href="/">Bloggit</a></h1>

  <div class="form-group has-search">
    <form action="/search" method="get">
      <div style="text-align: right">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          name="query"
          id="query"
        />
      </div>
    </form>
  </div>

  <nav>
    <ul>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'create_blog' %}">Create</a></li>
      <li><a href="{% url 'favorites' %}" id="fav">Favorites</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>
</header>
