{% extends "base2.html" %} {% block content %} {% include "header.html" %}
<div class="description">
  <h2>Welcome to Bloggitt !!</h2>
  <p>Share your thoughts and knowledge with us &#128515;</p>
</div>
<div class="blogs">
  <article class="blog">
    <h3 class="title">Lorem ipsum</h3>
    <p class="author">Hari Ram J P | Dec 7 2020, 12.59 pm</p>
    <p class="post">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. At incidunt
      aspernatur repellat voluptate, deleniti totam libero quam placeat animi et
      doloremque odit debitis porro. Obcaecati ratione neque similique non
      blanditiis delectus quam earum saepe, eum fuga odit sit, reprehenderit
      soluta impedit culpa odio quo, dolore aliquam et iusto sint? Tenetur!
    </p>
    <a href="#" class="button">Read More &rarr;</a>
  </article>
</div>
<nav class="pagination">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li>1</li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</nav>
{% endblock content %}
