{% extends "base.html" %} 
  {% block title %} 
    Login 
  {% endblock title %}
{% block content %}
<div class="cred">
  <h2>Login</h2>
  <form action="{% url "login" %}" method="POST">
    {% csrf_token %}
    <div class="input">
      <input type="text" name="username" placeholder="Username" autocomplete="off" required/>
    </div>
    <div class="input">
      <input type="password" name="password" placeholder="Password" autocomplete="off" required/>
    </div>
    <button type="submit" id="submit-btn">Login</button>
  </form>
  <div class="formfooter">
    <p>New User? <a href="{% url "signup" %}">Sign up</a></p>
    <p><a href="/reset/password_reset/">Forget Password</a></p>
  </div>
</div>
{% endblock content %}
