{% extends 'layout.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1>Login</h1>
<div id="formContent">
    <!-- Login Form -->
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'signup' %}">Don't have an account? SignUp</a></a>
    </div>

</div>
{% endblock content %}