{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
      <h1><a href="/">Bloggit</a></h1>
      <nav>
        <ul>
          <li><a href="{% url "about" %}">About</a></li>
          <li><a href="{% url "favorites" %}" id="fav">Favorites</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="profile-container">
        <div class="profile">
          <img src="{{user.profile.profile_image.url}}" alt="">
          <h2>{{user.username}}</h2>
          <p>{{user.email}}</p>
        </div>
        <p class="title">I love reading blogs..</p>
        <a href="{% url 'profile-update' %}" class="button">Update Profile</a>
    </div>
{% endblock content %}