{% extends "base.html" %} {% block title %} Bloggit {% endblock title %} 
{% block content %} {% include "header.html" %} {% include "description.html" %}
<h1 class="title" style="padding-left: 3rem;">Search results :</h1>
<div class="blogs">
  {% for post in post_list %}
  <article class="blog">
    <h3 class="title">{{ post.title }}</h3>
    <p class="author">{{ post.author }} | {{ post.created_on }}</p>
    <p class="post">{{ post.content|slice:":200" }}...</p>
    <a href="{% url 'post_detail' post.slug %}" class="button"
      >Read More &rarr;</a
    >
  </article>
  {% endfor %}
</div>
{% if post_list.has_previous or post_list.has_next %}
<nav class="pagination">
  <ul>
    {% if post_list.has_previous %}
    <li><a href="?page={{ post_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    <li>{{ post_list.number }}</li>
    {% if post_list.has_next %}
    <li><a href="?page={{ post_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock content %}
