{% extends "base.html" %} {% block title %} Sign up {% endblock title %}
{% block content %}
<div class="cred">
  <h2>Sign up</h2>
  <form action="{% url "signup" %}" method="POST">
    {% csrf_token %}
    <div class="input">
      <input type="text" name="username" placeholder="Username" autocomplete="off" required/>
    </div>
    <div class="input">
      <input type="password" name="password" placeholder="Password" autocomplete="off" required/>
    </div>
    <div class="input">
      <input type="password" name="password-c" placeholder="Confirm password" autocomplete="off" required/>
    </div>
    <div class="input">
      <input type="email" name="email" placeholder="Email" autocomplete="off" required/>
    </div>
    <button type="submit" id="submit-btn">Sign up</button>
  </form>
  <div class="formfooter">
    <p>Have an account? <a href="{% url "login" %}">Login</a></p>
  </div>
</div>
{% endblock content %}
