/* css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: Poppins, sans-serif;
  background-color: #effad3;
}

div.cred {
  border: 0.01rem solid #4cf14c;
  border-radius: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 40rem;
  text-align: center;
}

div.cred h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  color: #2d6187;
}

div.input {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 0.01rem solid rgba(45, 97, 135, 0.384);
  position: relative;
}

div.input input {
  width: inherit;
  padding: 1rem 1.1rem;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: inherit;
}

div.input input::placeholder {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
}

div.input::before {
  content: "";
  position: absolute;
  bottom: -0.01rem;
  width: 0;
  height: 0.05rem;
  background-color: #28abb9;
  left: 0;
  transition: width 0.5s ease;
}

div.input.focusing::before {
  width: 100%;
}

div.cred button,
a.button {
  padding: 1.5rem 4rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #2d6187;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
  outline: 0;
}

div.cred button:focus,
a.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgba(84, 164, 173, 0.726);
}

div.cred button:active,
a.button:active {
  transform: scale(0.95);
}

div.cred .formfooter {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #333333;
}

div.cred .formfooter p:last-child {
  margin-top: 0.5rem;
}

div.cred .formfooter p a {
  color: #28abb9;
  text-decoration: none;
}

@media (max-width: 440px) {
  div.cred {
    width: 90%;
  }
}

/* authentication messages */
.success,
.error,
.info {
  width: 100%;
  position: absolute;
  top: -1.2rem;
  left: 0;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.6rem 0;
  text-align: center;
  animation: comefromtop 0.3s forwards ease, gototop 0.5s forwards ease 2s;
}

@keyframes comefromtop {
  100% {
    top: 0;
  }
}

@keyframes gototop {
  100% {
    top: -4rem;
  }
}

.success {
  background-color: #218838;
  color: #ffffff;
}

.error {
  background-color: #bd2130;
  color: #ffffff;
}

.info {
  background-color: #525158;
  color: #ffffff;
}

/* header */

header {
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

header h1 a {
  font-size: 2.5rem;
  color: #2d6187;
}

header nav ul {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  font-size: 1.7rem;
  color: #28abb9;
}

/* description - hero section */

.description {
  padding: 4rem 0;
  background-color: #28abb9;
  color: #ffffff;
  text-align: center;
}

.description h2 {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.6rem;
  font-weight: 200;
}

/* Blogs */

.blog {
  position: relative;
  width: calc(100% - 6rem);
  margin: 3rem auto;
  padding: 2rem 0;
  border-radius: 0.8rem;
}

.blog .title {
  color: #2d6187;
  font-weight: 600;
  font-size: 2.4rem;
}

.blog .author {
  margin: 1.5rem 0;
  font-size: 1.3rem;
  color: #686666;
  font-size: 400;
}

.blog .post {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #333333;
  font-size: 400;
  margin-bottom: 1.8rem;
}

a.button {
  display: inline-block;
  text-decoration: none;
}

/* pagination */

.pagination {
  width: calc(100% - 6rem);
  margin: auto;
  margin-bottom: 3rem;
}

.pagination ul {
  display: flex;
  list-style: none;
  width: 12.1rem;
  margin: auto;
}

.pagination ul li {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: 0.01rem solid #4cf14c;
  border-right: 0;
  background-color: #ffffff;
}

.pagination ul li:last-child {
  border-right: 0.01rem solid #4cf14c;
  border-radius: 0 0.6rem 0.6rem 0;
}

.pagination ul li:first-child {
  border-radius: 0.6rem 0 0 0.6rem;
}

.pagination ul li:nth-last-child(2) {
  padding: 0.5rem 1.8rem;
}

.pagination ul li a {
  color: #28abb9;
  font-family: sans-serif;
  text-decoration: none;
}

p.author.detail {
  position: absolute;
  top: 1.3rem;
  right: 0;
}

a.button-red {
  background-color: #dc3545;
}

a.button-green {
  background-color: #28a745;
}
